html {
  scroll-behavior: smooth;
 }
 
body{
    margin: 0;
    background-color: rgb(244, 206, 155);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3rem;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: rgb(249, 231, 197);
    height: 80px;
    margin: 0;
}

.logo{
    height: 110%;
}

.headerText{
    font-size: clamp(10px, 2.5vw, 48px); 
    font-weight: 700;
}

button{
    font-size: 1vw; 
    background-color: #c7dfeb;
    border: 2px solid #000;
    border-radius: 16px;
    margin: 2vw;
}

button:hover{
     border: 2px solid #0d471c;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsive {
  width: 60%;
  height: auto;
}
@media (max-width: 500px) {
  .responsive {
  width: 90%;
  height: auto;
}

}

h2{
   font-size: clamp(15px, 3vw, 48px); 
    margin: 2vw;
}

a{
    font-size: 2vw;
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #0d471c;
}

.floatingImg{
    position: absolute;
    width: 20%;
    height: auto;
}

#watermelon1{
    left: 2vw;
    animation: wiggle 4s infinite;
}

@media (max-width: 500px) {
    #watermelon1{
    left: 2vw;
    animation: wiggleLong 4s infinite;
}

    @keyframes wiggleLong {
    0% { top:10em; }
   50% {top:12em;}
   100% { top: 10em; }
}
}

@keyframes wiggle {
    0% { top:6em; }
   50% {top:8em;}
   100% { top: 6em; }
}

.infoSectionInfo{
    font-size: clamp(15px, 2vw, 48px); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.furtherInfoPic{
     width: 20%;
     height: min-content;
}

.infoSectionText{
    margin-right: 4vw;
    border-radius: 25px;
    padding: 2vw;
    background-color: rgb(240, 180, 103);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.infoSectionText:hover{
    background-color: rgb(235, 159, 59);
}

.interview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2vw;
    width: 60%;
    text-align: start;
}

.question{
    font-weight: 600;
}

.question, .answer{
    font-size: clamp(15px, 1.5vw, 48px); 
    text-align: start;
    width: 100%;
}

#selfInfo{
    width: 90%;
    font-size: clamp(18px, 1.5vw, 48px); 
    text-align: start;
    padding: 1vw;
}