html {
  scroll-behavior: smooth;
 }
 
body{
    margin: 0;
    background-color: rgb(244, 206, 155);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3rem;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: rgb(249, 231, 197);
    height: 80px;
    margin: 0;
}

.logo{
    height: 110%;
}

.headerText{
    font-size: clamp(13px, 2.5vw, 48px); 
    font-weight: 700;
}

button{
    font-size: 1vw; 
    background-color: #c7dfeb;
    border: 2px solid #000;
    border-radius: 16px;
    margin: 2vw;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsive {
  width: 60%;
  height: auto;
}
@media (max-width: 500px) {
  .responsive {
  width: 90%;
  height: auto;
}

}

h2{
   font-size: clamp(15px, 3vw, 48px); 
    margin: 2vw;
}

#quizTitle{
     font-size: clamp(25px, 3vw, 48px); 
     background-color: #e0875a;
     width: 100%;
     margin-top: 0px;
     text-align: center;
}

a{
    font-size: 2vw;
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #0d471c;
}

.floatingImg{
    position: absolute;
    width: 20%;
    height: auto;
}

#watermelon1{
    left: 2vw;
    animation: wiggle 4s infinite;
}

@media (max-width: 500px) {
    #watermelon1{
    left: 2vw;
    animation: wiggleLong 4s infinite;
}

    @keyframes wiggleLong {
    0% { top:10em; }
   50% {top:12em;}
   100% { top: 10em; }
}
}

@keyframes wiggle {
    0% { top:6em; }
   50% {top:8em;}
   100% { top: 6em; }
}

.infoSectionInfo{
    font-size: clamp(15px, 2vw, 48px); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.furtherInfoPic{
     width: 20%;
     height: min-content;
}

#furtherInfoButton{
    font-size: clamp(15px, 1.5vw, 48px); 
}

.infoSectionText{
    margin-right: 4vw;
    border-radius: 25px;
    padding: 2vw;
    background-color: rgb(240, 180, 103);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.infoSectionText:hover{
    background-color: rgb(235, 159, 59);
}

.interview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2vw;
    width: 60%;
    text-align: start;
}

.question{
    font-weight: 600;
}

.question, .answer{
    font-size: clamp(15px, 1.5vw, 48px); 
    text-align: start;
    width: 100%;
}

#selfInfo{
    width: 90%;
    font-size: clamp(18px, 1.5vw, 48px); 
    text-align: start;
    padding: 1vw;
}

#beginQuizButton{
    font-size: clamp(15px, 2vw, 48px); 
    padding: 15px;
}

#playerCards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.playerCard_ind{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
     font-size: clamp(18px, 3vw, 48px); 
}

.playerCard_ind img {
    width: 10%;
    height: auto;
}

#LaurenPic{
     width: 40%;
    height: auto;
}

#AndrewPic{
     width: 40%;
    height: auto;
}

#EmilyPic{
     width: 50%;
    height: 50%;
}

#MyraPic{
     width: 50%;
    height: 50%;
}

#JordanPic{
     width: 50%;
    height: 50%;
}

#MatthewPic{
     width: 40%;
    height: auto;
}

#quizAnswerContainer * {

    font-size: clamp(20px, 3vw, 48px); 

}

#quiz_final_result{
    font-size: 5vw;
    text-align: center;
    margin-top: 6w;
}

#quizQuestion{
    font-size: 5vw;
    text-align: center;
}

button {
  appearance: button;
  background-color: #d67118;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin: 5px;
}

.button:after {
  background-clip: padding-box;
  background-color: #f6891c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button:active {
  border-width: 4px 0 0;
  background: none;
}

.icon {
  display: none;
}

@media screen and (max-width: 600px) {
    .headerText{
        margin: 6px;
    }
.headerText.notAbout{
        border-right: solid 2px #8b360b;
    }
    
    .infoSectionText:hover {
    background-color: rgb(240, 180, 103);
}

}